# 编译产物
build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
Makefile
compile_commands.json

# 可执行文件 & 目标文件
*.out
*.exe
*.dll
*.so
*.a
*.o
*.obj

# 调试文件
*.dSYM/
*.pdb

# IDE / 编辑器
.vscode/
.idea/
*.swp
*.swo
.DS_Store
tags
cscope.*

# 日志 & 临时文件